* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Roboto', sans-serif; */
/* :root {} */

.wrapper {
    width: 90vw;
    height: 20vh;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    max-width: 1024px;
}
.addTask {
    margin-top: 40px;
    transform: translateX(0px);
}
.todo {
    position: absolute;
    top: -15px;
    left: 25px;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 0 5px;
    z-index: 1;
    background: white;
}
#numberToDo {
    margin: 10px 0 10px 15px;
    font-weight: normal;
    font-size: 18px
}
.addTask label {
    font-size: 18px;
    line-height: 4vh;
}
.addTask input {
    height: 4vh;
    width: 25vw;
    border: 1px solid black;
    outline: none;
    padding: 0 10px;
}
.addTask button {
    background: transparent;
    border: 1px solid black;
    width: 10vh;
    margin-left: 10px;
    line-height: 4vh;
    font-size: 16px
}
.addTask button:hover {
    font-weight: bold;
    transform: scale(1.1);
}
.newTask {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    border: 1px solid black;
}
.newTask li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 5px;
    line-height: 50px;
}
button.done {
    height: 30px;
    width: 65px;
    margin: 10px 15px;
    border: none;
    background: rgb(150, 207, 150);
}
button.delete {
    height: 30px;
    width: 65px;
    margin: 10px 15px;
    border: none;
    background: rgb(233, 132, 119)
}

.delete:hover {
    background: rgb(250, 5, 5);
}
.done.active {
    background: rgb(38, 192, 38);
}




/* landspace */

@media(min-width:533px) and (orientation: landscape){
    .wrapper {
        height: 40vh;
        margin-top: 20px;
    }
    .addTask label {
        
        line-height: 4vh;
    }
    .addTask input {
        height: 8vh;
        width: 25vw;
        font-size: 18px;
        
    }
    .addTask button {
        height: 10vh;
        width: 16vw;
        margin-left: 10px;
        line-height: 4vh;
    }
}
@media(min-width:640px) and (orientation: landscape){
    .wrapper {
        height: 35vh;
        margin-top: 20px;
        font-size: 18px;
    }
    .addTask label {
        
        line-height: 4vh;
    }
    .addTask input {
        height: 8vh;
        width: 25vw;        
    }
    .addTask button {
        height: 10vh;
        width: 16vw;
        margin-left: 10px;
        line-height: 4vh;
    }
}
@media(min-width:731px) and (orientation: landscape){
    .wrapper {
        height: 30vh;
        margin-top: 20px;
        font-size: 18px;
    }
}
@media(min-width:812px) and (orientation: landscape){
    .wrapper {
        height: 35vh;
    }
}

/* mobile */

@media(min-width:320px) and (min-height:568px){
    .wrapper {
        font-size: 20px;
    }
}
@media(min-width:375px) and (min-height:667px){
    .wrapper {
        height: 18vh;
    }
}
@media(min-width:375px) and (min-height:812px){
    .wrapper {
        height: 15vh;
    }
}
@media(min-width:411px) and (min-height:736px){
    .wrapper {
        height: 16vh;
    }
}
@media(min-width:411px) and (min-height:823px){
    .wrapper {
        height: 15vh;
        margin-top: 20px;
        font-size: 18px;
    }
}
@media(min-width:768px) and (min-height:1024px){
    .wrapper {
        height: 14vh;
        margin-top: 20px;
        font-size: 25px;
    }
    button.done {
        height: 30px;
        width: 110px;
        font-size: 20px; 
    }
    button.delete {
        height: 30px;
        width: 80px;
        font-size: 20px;
    }
    .addTask label {
        font-size: 25px;
        line-height: 4vh;
    }
    #numberToDo{
        font-size: 25px
    }
    .todo {
        top: -20px;
        font-size: 30px;
    }
}

/* deskop */

@media(min-width:1024px) and (min-height:768px){
    .wrapper {
        height: 18vh;
        margin-top: 20px;
        font-size: 25px;
    }
    button.done {
        height: 30px;
        width: 110px;
        font-size: 20px; 
    }
    button.delete {
        height: 30px;
        width: 80px;
        font-size: 20px;
    }
    .addTask label {
        font-size: 25px;
        line-height: 4vh;
    }
    #numberToDo{
        font-size: 25px
    }
    .todo {
        top: -20px;
        font-size: 30px;
    }
    .addTask input {
        height: 5vh;
    }
    .addTask button {
        width: 15vw;
        height: 5vh;
        font-size: 20px
    }
}
@media(min-width:1024px) and (min-height:1366px){
    .wrapper {
        height: 13vh;
        margin-top: 20px;
        font-size: 33px;
    }
    .newTask li {
        line-height: 65px;
    }
    .addTask label {
        font-size: 33px;
        line-height: 4vh;
    }
    #numberToDo{
        font-size: 33px
    }
    .todo {
        top: -25px;
        font-size: 40px;
    }
    .addTask input {
        height: 4vh;
        font-size: 33px
    }
    .addTask button {
        width: 15vw;
        height: 4vh;
        font-size: 33px
    }
    button.done {
        height: 50px;
        width: 130px;
        font-size: 28px; 
    }
    button.delete {
        height: 50px;
        width: 90px;
        font-size: 28px;
    }
}
@media(min-width:1366px) and (min-height:1024px){
    .wrapper {
        height: 15vh;
        margin-top: 20px;
        font-size: 30px;
    }
    .addTask input {
        height: 4vh;
        font-size: 35px
    }
    .addTask button {
        width: 15vw;
        height: 4vh;
        font-size: 23px
    }
    button.done {
        height: 50px;
        width: 130px;
        font-size: 23px; 
    }
    button.delete {
        height: 50px;
        width: 90px;
        font-size: 23px;
    }
    .newTask li {
        line-height: 65px;
    }
}
@media(min-width:1400px) and (min-height:700px){
    .wrapper {
        height: 24vh;
        margin-top: 20px;
        font-size: 25px;
    }
    .addTask label {
        font-size: 25px;
        line-height: 4vh;
    }
    .addTask input {
        height: 6vh;
        font-size: 35px
    }
    #numberToDo{
        font-size: 28px
    }
    .todo {
        top: -25px;
        font-size: 40px;
    }
    .addTask button {
        width: 10vw;
        height: 6vh;
        font-size: 23px
    }
    button.done {
        height: 40px;
        width: 130px;
        font-size: 25px; 
    }
    button.delete {
        height: 40px;
        width: 90px;
        font-size: 25px;
    }
    .newTask li {
        line-height: 60px;
    }
}